-----BEGIN CERTIFICATE-----
MIID5TCCAs2gAwIBAgIUegNhPQayn/K+y9c8FAsmTC8BXSYwDQYJKoZIhvcNAQEL
BQAwgYExCzAJBgNVBAYTAkJZMQ4wDAYDVQQIDAVNaW5zazEOMAwGA1UEBwwFTWlu
c2sxEzARBgNVBAoMClpoYXJ0YXVuaWsxGDAWBgNVBAMMD21hZ2VudG8yLmRvY2tl
cjEjMCEGCSqGSIb3DQEJARYUemhhcnRhdW5pa0BnbWFpbC5jb20wHhcNMjAwNzI2
MTc1MjI0WhcNMjEwNzI2MTc1MjI0WjCBgTELMAkGA1UEBhMCQlkxDjAMBgNVBAgM
BU1pbnNrMQ4wDAYDVQQHDAVNaW5zazETMBEGA1UECgwKWmhhcnRhdW5pazEYMBYG
A1UEAwwPbWFnZW50bzIuZG9ja2VyMSMwIQYJKoZIhvcNAQkBFhR6aGFydGF1bmlr
QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALRn0sJD
lxzhKKSHtllszNWrtM4d7dScAS+ceSWtK13lb/FWcXDKAJewEFhfoLD2jZtLrhsZ
9tbMqSezosB6Q5/LVAQvz/GNgzS+bVrg0JPR5xemnjzpKT0RlAOTRq3MeRtH6j82
yt5L4UbTUXIhJci3BDf7Y4aD/nBmdLrzQ7y4b5nIMA9SkItuG0nVE68Bgf4DDqLB
uwFYSKQyYA4dK1s4YUxfRj8pp9tlKIQzy6QMHjGh35Oxt2koDgVUSrmnQ58jGrJm
WS8SPS26Y7RS+jQRzRhKANNnCjMbXg/ID7BFkfB6ulVBcelVljRbS7THm5u+aY6S
CnhXzEUWEtEQLlsCAwEAAaNTMFEwHQYDVR0OBBYEFHCkCmJHEP96Uhu55FEvsoxN
YGwrMB8GA1UdIwQYMBaAFHCkCmJHEP96Uhu55FEvsoxNYGwrMA8GA1UdEwEB/wQF
MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAIylzVzDuFeE7Z2y7VYTcn9KefK7BrVT
piCnQah9Tt/G4NqR07ieFxTNlIXAUeMclL+/PMc3L9XC+nkjEXVwkJBr+juLnBRG
lxECkdOFfkplIc/TQ9p57PZrNSmTw1pDh4gUp+1Xxa6CTJjfatNNOO4RgV4JAt4r
4c0zrn1uFNd1URLiKcP4kxAb6pz2dO/Ep9TL722fxkSGmILi45DXVcvlXN4YI3Ll
a6RPfXUizCtiz7ADMp0tdGoiA0aGnvoJSA3bvWH16d47kAjhXzp9toNd3JofZ6PM
9hbVFWDawty6u3hV5X0NYFv/3NNM1+q3c9LLcGA3dwE9/txavEcrqag=
-----END CERTIFICATE-----
